{% from "macros.html" import stat_card, section_header, section_footer %}

<!-- Analysis Details - Cards -->
{{ section_header("Analysis Details") }}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            {{ stat_card(soma_side|title, "Soma Side") }}
        </div>
        {%- if summary.avg_pre_synapses > 0 -%}
        <div class="col-xs-12 col-sm-6 col-md-3">
            {{ stat_card(summary.avg_pre_synapses, "Avg Pre-synapses") }}
        </div>
        {%- endif -%}{%- if summary.avg_post_synapses > 0 -%}
        <div class="col-xs-12 col-sm-6 col-md-3">
            {{ stat_card(summary.avg_post_synapses, "Avg Post-synapses") }}
        </div>
        {%- endif -%}
    </div>
{{ section_footer() }}