{%- if soma_side != 'both' -%}

    <!-- Layer Analysis Containers -->
    {%- if layer_analysis.vertical_tables -%}
    <section id="layer-stats">
        <h2>Mean Synapse Count per Layer</h2>

        <!-- Add legend for row meanings -->
        <div class="legend-text"></div>

        <div class="row layer-row">
            <div class="col-xs-12 col-md-6">
                {% for region in ['LA', 'ME', 'AME'] %}
                <table class="display layer-table" style="border-collapse: collapse; margin-bottom: 24px; width: 100%; table-layout: fixed;">
                    {% if region == 'LA' %}
                    <thead>
                        <tr>
                            <th style="width: 33%">Layer</th>
                            <th style="width: 33%">Post</th>
                            <th style="width: 33%">Pre</th>
                        </tr>
                    </thead>
                    {% endif %}
                    <tbody>
                        {% for row in layer_analysis.vertical_tables[region] %}
                        <tr>
                            <td {% if row.layer == 'Total' %}style="{{ row.layer_style }}"{% endif %}>{{ row.layer }}</td>
                            <td style="{{ row.post_style }}">{{ row.post|format_synapse_count|safe }}</td>
                            <td style="{{ row.pre_style }}">{{ row.pre|format_synapse_count|safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-md-6">
                {% for region in ['LO', 'LOP', 'CB'] %}
                <table class="display layer-table" style="border-collapse: collapse; margin-bottom: 24px; width: 100%; table-layout: fixed;">
                    {% if region == 'LO' %}
                    <thead>
                        <tr>
                            <th style="width: 33%">Layer</th>
                            <th style="width: 33%">Post</th>
                            <th style="width: 33%">Pre</th>
                        </tr>
                    </thead>
                    {% endif %}
                    <tbody>
                        {% for row in layer_analysis.vertical_tables[region] %}
                        <tr>
                            <td {% if row.layer == 'Total' %}style="{{ row.layer_style }}"{% endif %}>{{ row.layer }}</td>
                            <td style="{{ row.post_style }}">{{ row.post|format_synapse_count|safe }}</td>
                            <td style="{{ row.pre_style }}">{{ row.pre|format_synapse_count|safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
        
    </section>
    {%- endif -%}

{%- endif -%}
