{%- if soma_side != 'both' -%}

    <!-- Layer Analysis Containers -->
    {%- if layer_analysis.vertical_tables -%}
    <section id="layer-stats">
        <h2>Mean Synapse Count per Layer</h2>

        <!-- Add legend for row meanings -->
        <div class="legend-text"></div>

        <div class="row layer-row">
        <div class="col-xs-12 col-md-8">
            <table class="display layer-table" style="border-collapse: collapse; border: 1px solid #e0e0e0;">
            <thead>
                <tr>
                <th style="border: 1px solid #e0e0e0;">Layer</th>
                <th style="border: 1px solid #e0e0e0;">Post</th>
                <th style="border: 1px solid #e0e0e0;">Pre</th>
                </tr>
            </thead>
            <tbody>
                {% for region in ['LA', 'ME', 'AME', 'LO', 'LOP', 'CB'] %}
                {% for row in layer_analysis.vertical_tables[region] %}
                    <tr>
                    <td style="border: 1px solid #e0e0e0;">{{ row.layer }}</td>
                    <td style="{{ row.post_style }}; border: 1px solid #e0e0e0;">{{ row.post|format_synapse_count|safe }}</td>
                    <td style="{{ row.pre_style }}; border: 1px solid #e0e0e0;">{{ row.pre|format_synapse_count|safe }}</td>
                    </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
        
    </section>
    {%- endif -%}

{%- endif -%}
