{% from "macros.html.jinja" import iframe_embed %}

<section id="neuron-visualization">
  <div class="nv-header">
    <h2>
      Neuron Visualization
      <a href="#" target="_blank" class="external-link neuroglancer-link" title="Open Neuroglancer in new window">&#x29c9;</a>
      {% if youtube_url %}
      <a href="{{ youtube_url }}" target="_blank" class="external-link youtube-link" title="View YouTube video">
        <svg role="img" width="32" height="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z" fill="#CC0000"/>
        </svg>
        </a>
      {% endif %}
    </h2>

    <div class="nv-theme">
      <span class="nv-theme-label nv-theme-label--left">Dark</span>
      <span class="nv-switch">
        <input id="nv-theme-toggle" type="checkbox" class="nv-toggle-input"
               aria-label="Toggle theme: dark / light" />
        <label for="nv-theme-toggle" class="nv-toggle" aria-hidden="true"></label>
      </span>
      <span class="nv-theme-label nv-theme-label--right">Light</span>
    </div>
    <div class="html-tooltip">
        <div class="tooltip-content">
            <h3>Navigation</h3>
            <dl>
                <dt>🖱️ Left Mouse Button (LMB) + Drag</dt>
                <dd>Rotate the view.</dd>
                <dt>Shift + 🖱️ LMB + Drag</dt>
                <dd>Translate the view.</dd>
                <dt>Ctrl + Mousewheel</dt>
                <dd>Zoom in and out.</dd>
                <dt>⌨️ <kbd>z</kbd></dt>
                <dd>Reset view to closest</dd>
                <dt>⌨️ <kbd>o</kbd></dt>
                <dd>Toggle between orthographic and perspective projection.</dd>
                <dt>⌨️ <kbd>l</kbd></dt>
                <dd>Reassign random colors to neurons and ROI meshes.</dd>
            </dl>
            <h3>Filtering</h3>
            <img src="../static/images/Neuroglancer-help.png" alt="screenshot of neuroglancer filter section"/>
            <dl>
                <dt style="color:#FFF; background-color: #6e8fbeff; padding:7px; border-radius: 3px;">1</dt>
                <dd>Use text to filter neurons by type name.</dd><br />
                <dt style="color:#FFF; background-color: #6ed4beff; padding:7px; border-radius: 3px;">2</dt>
                <dd>Use tags to require or exclude neurons of certain properties, e.g. `soma_side`.</dd><br />
                <dt style="color:#FFF; background-color: #df8fbeff; padding:7px; border-radius: 3px;">3</dt>
                <dd>Add / remove matched neurons from view.</dd><br />
                <dt style="color:#FFF; background-color: #df8f3eff; padding:7px; border-radius: 3px;">4</dt>
                <dd>Remove currently selected neurons from view.</dd><br />
                <dt style="color:#FFF; background-color: #488f3eff; padding:7px; border-radius: 3px;">5</dt>
                <dd>Toggle individual neurons from view.</dd>
            </dl>
        </div>
        <span class="pm-button-round pm-btn-success">?</span>
    </div>
  </div>

  {{ iframe_embed("about:blank", title="Neuroglancer Visualization", extra_class="neuroglancer-iframe") }}

</section>
