{# -- ROI Innervation - Full width -- #}
{%- if roi_summary and roi_summary|length > 0 -%}

<section id="roi-innervation">
    <h2>ROI Innervation ({{- roi_summary|length }} ROIs)</h2>
    <div class="data-table">
        <table id="roi-table" class="display">
            <thead>
                <tr>
                    <th>ROI Name</th>
                    <th class="pm-text-right"><abbr title="Total Input">&sum;<br />In</abbr></th>
                    <th class="pm-text-right"><abbr title="Percentage Input">%<br/>In</abbr></th>
                    <th class="pm-text-right"><abbr title="Cumulative Input Percentage">Cum<br>% In</abbr></th>
                    <th class="pm-text-right"><abbr title="Total Output">&sum;<br />Out</abbr></th>
                    <th class="pm-text-right"><abbr title="Percentage Output">%<br/>Out</abbr></th>
                    <th class="pm-text-right"><abbr title="Cumulative Output Percentage">Cum<br />% Out</abbr></th>
                </tr>
            </thead>
            <tbody>
                {%- for roi in roi_summary -%}
                <tr>
                    <td class="roi-cell" data-roi-name="{{ roi.name }}">
                        <strong>{{- roi.name | roi_abbr | safe -}}</strong>
                    </td>
                    <td class="pm-text-right">{{- roi.post| format_conn_count | safe -}}</td>
                    <td class="pm-text-right" title="{{- roi.post_percentage -}}%" style="background: linear-gradient(90deg, #fee395 {{roi.post_percentage|format_percentage}}, transparent {{roi.post_percentage|format_percentage}}) no-repeat center;">{{- roi.post_percentage|format_percentage -}}</td>
                    <td class="c-p pm-text-right">0</td>
                    <td class="pm-text-right">{{- roi.pre | format_conn_count | safe -}}</td>
                    <td class="pm-text-right" title="{{- roi.pre_percentage -}}%" style="background: linear-gradient(90deg, #69d0e4 {{roi.pre_percentage|format_percentage}}, transparent {{roi.pre_percentage|format_percentage}}) no-repeat center;">{{- roi.pre_percentage|format_percentage -}}</td>
                    <td class="c-p pm-text-right">0</td>
                </tr>
                {%- endfor -%}
            </tbody>
        </table>
    </div>
</section>
{%- endif -%}
