{# -- ROI Innervation - Full width -- #}
{%- if roi_summary and roi_summary|length > 0 -%}

<section id="roi-innervation">
    <h2>ROI Innervation ({{- roi_summary|length }} ROIs)</h2>
    <div class="data-table">
        <table id="roi-table" class="display">
            <thead>
                <tr>
                    <th>ROI Name</th>
                    <th class="pm-text-right"><abbr title="Total Input">&sum;<br />In</abbr></th>
                    <th class="pm-text-right"><abbr title="Percentage Input">%<br/>In</abbr></th>
                    <th class="pm-text-right"><abbr title="Ld of outputs/inputs ratio. Negative values indicate more inputs than outputs, positive values indicate more outputs than inputs.">log<br/>ratio</abbr></th>
                    <th class="pm-text-right"><abbr title="Total Output">&sum;<br />Out</abbr></th>
                    <th class="pm-text-right"><abbr title="Percentage Output">%<br/>Out</abbr></th>
                </tr>
            </thead>
            <tbody>
                {%- for roi in roi_summary -%}
                <tr id="r{{ loop.index0 }}">
                    <td class="roi-cell" data-roi-name="{{ roi.name }}">
                        <strong>{{- roi.name | roi_abbr | safe -}}</strong>
                    </td>
                    <td class="pm-text-right">{{- roi.post| format_conn_count | safe -}}</td>
                    <td class="pm-text-right ug" title="{{- roi.post_percentage -}}%" style="--s: {{roi.post_percentage | format_percentage}};">{{- roi.post_percentage | format_percentage -}}</td>
                    <td class="pm-text-right" title="ld({{- roi.pre -}}/{{- roi.post -}})">
                            {{- "%.2f"|format(log_ratio(roi.pre, roi.post)) -}}
                    </td>
                    <td class="pm-text-right">{{- roi.pre | format_conn_count | safe -}}</td>
                    <td class="pm-text-right dg" title="{{- roi.pre_percentage -}}%" style="--s: {{roi.pre_percentage | format_percentage}};">{{- roi.pre_percentage | format_percentage -}}</td>
                </tr>
                {%- endfor -%}
            </tbody>
        </table>
    </div>
</section>
{%- endif -%}
