{% extends "base.html" %}

{% block title %}{{ config.html.title_prefix }} - {{ neuron_data.type }}{% endblock %}

{% block header %}
{% include "sections/header.html" %}
{% endblock %}

{% block content %}

    {% include "sections/summary_stats.html" %}

    {# {% include "sections/analysis_details.html" %} #}

    {% include "sections/neuroglancer.html" %}

    {% include "sections/roi_innervation.html" %}

    {% include "sections/connectivity.html" %}

    {% include "sections/layer_analysis.html" %}

    {% include "sections/eyemaps.html" %}

{% endblock %}

{% block footer %}
{% include "sections/footer.html" %}
{% endblock %}

{% block extra_scripts %}
        <!-- jQuery and DataTables Scripts -->
        <script src="static/js/jquery-3.7.1.min.js"></script>
        <script src="static/js/jquery.dataTables.min.js"></script>

        <!-- Neuroglancer URL Generator -->
        <script src="static/js/neuroglancer-url-generator.js"></script>

        <!-- Neuron page JavaScript functionality -->
        {% include "sections/neuron_page_scripts.html" %}
{% endblock %}
